 
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, rgba(113,45,155,1) 25%, rgba(61,26,89,1) 50%, rgba(31,16,53,1) 90%);
    margin: 0;
 }

 h1{
    font-size: 40px;
    font-family: "Snowburst One", system-ui;
 }
 h2 {
   font-size: 30px;
   font-family: "Englebert", cursive;
 }
 h3{
   font-size: 30px;
   font-family: "Snowburst One", system-ui;
 }
 h4 {
   font-size: 25px;
   font-family: "Snowburst One", system-ui;
 }

 .show-answers label {
   font-size: 25px;
   font-family: "Englebert", cursive;
   border: 2px solid white;
   border-radius: 5px;
   padding: 10px;
   margin: 10px;
   display: block;
   flex-direction: column;
   align-items: flex-start;
}
label:before {
   border: 3px solid lightgreen;
}

.show-answers label:active {
   background-color: #4CAF50;
   border-color: grey;
}

input[type="radio"]{
   display: none;
}
input[type="checkbox"]{
   display: none;
}

li {
   font-size: 25px;
   list-style: none;
   font-family: "Englebert", cursive;
}
 #change-color {
    background-color: #561c7f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    height: 40px;
    position: fixed;
    top: 15px;
    right: 15px;
    font-family: "Snowburst One", system-ui;
}
#reset-quiz{
   background-color: #561c7f;
   color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size: 16px;
   width: 150px;
   height: 40px;
   position: fixed;
   top: 15px;
   left: 15px;
   font-family: "Snowburst One", system-ui;
}
   

#change-color:hover,#next-question-button:hover,#reset-quiz:hover,#start-button:hover {
    background-color: #9500ff;
}

 .container {
    min-width: 800px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 50px;
 }

 #start-button, #next-question-button {
    background-color: #561c7f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Snowburst One", system-ui;
 }

#player-name {
    width: 300px;
    height: 40px;
    font-size: medium;
    border: 2px solid #cccccc;
    border-radius: 10px;
    color: rgb(132, 131, 131);
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-style: italic;
}

.show-answers {
   
   text-align: center;
   padding: 10px;

   border-radius: 5px;

}

#True,#False{
width: 150px;
height: 40px;
font-size: 20px;
margin: 40px;
border-radius: 10px;
cursor: pointer;
font-family: "Englebert", cursive;
}
#True:hover, #False:hover {
   opacity: 0.5;
}

.show-answers button#True {
   background-color: #4CAF50;
   color: white;
 }
 .show-answers button#False {
   background-color: #f44336;
   color: white;
 }